.container {
    min-height: 100vh;
    padding-bottom: 1em;

}

.navigation {
    width: 20vw;
    padding-top: 1em;
    padding-left: 1em;
    background-color: #C6AD94;
}

.outlet {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}