<div class="content">
    <h2 class="mat-h2">What do you want to learn today?</h2>
    <form class="content" [formGroup]="createPlanForm">
        <mat-form-field>
            <mat-label>Skill</mat-label>
            <input matInput formControlName="skill" id="skill">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Your OpenAI API key</mat-label>
            <input matInput formControlName="openAIApiKey" id="openAIApiKey" type="password">
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="generatePlan()">Generate plan</button>
    <p *ngIf="planToAddErrors$ | async as planToAddErrors" class="mat-error">
        {{ planToAddErrors.error.error.message }}
    </p>
    <app-plan></app-plan>
</div>